VAPID_PUBLIC_KEY=BMJVOWIjd6G60ktizFUf9hC843o-kO29XXhZPZoKvgt_4dBDamEu-wEK59wMc6iwsB32VwJ5SV-kpyK9HzuVL1Q
VAPID_PRIVATE_KEY=YOUR_PRIVATE_KEY
VAPID_SUBJECT=mailto:ambit.akiyama@gmail.com
AUTH_TOKEN=110c51d7a0df23e3727416a0bc63273fc17d8df0a4cc2a06
PORT=3300
